<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="ApplicationVersion" value="0.1.1"/>
		
		
		
		<!-- Debug Windows -->
		<add key="MainDebugTab" value="true"/>
		<add key="TwitchDebugTab" value="true"/>
		<add key="DiscordDebugTab" value="true"/>
	</appSettings>
</configuration>